* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Alienlogo {
    width: 14rem;
    height: 8rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
}
.block {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

.Intergalactic {
  background-color: rgba(255, 255, 255, 0.075);
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 10px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
}

header {
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    padding: 1rem;
    display: block;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-image: linear-gradient(to right, #f5ce62, #96e713, #d8f145, #29c015);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    color: black;
}

aside {
    position: relative;
}
  
  .block {
    position: relative;
    margin: 300px auto 0;
    width: 500px;
    height: 250px;
    background: linear-gradient(0deg, #000, #272727);
  }
  
  .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .block:after {
    filter: blur(50px);}
    